
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    padding: 11px;
}

.logo {
    height: 61px;
}

h1 {
    color: #2c3e50;
    font-size: 48px;
    margin-top: 20px;
}

p {
    font-size: 20px;
    color: #34495e;
    margin: 20px;
}

.main-image {
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
